.DS_Store

# Byte-compiled / optimized / DLL files

*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/


# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
*.cover
cover/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
