<robot name = "robot">
    <link name="Torso1">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="3.5 1 0.5" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="3.5 1 0.5" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso1_FrontLeg1" type="revolute">
       <parent link="Torso1"/>
       <child  link="FrontLeg1"/>
       <origin rpy="0 0 0" xyz="-1.4 0.5 1" />
       <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="FrontLeg1">
        <inertial>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1 0.2" />
            </geometry>
        </collision>
    </link>
    <joint name="FrontLeg1_FrontLowerLeg1" type="revolute">
       <parent link="FrontLeg1"/>
       <child  link="FrontLowerLeg1"/>
       <origin rpy="0 0 0" xyz="0 1 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="FrontLowerLeg1">
        <inertial>
            <origin xyz="0 0 -0.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso1_BackLeg1" type="revolute">
       <parent link="Torso1"/>
       <child  link="BackLeg1"/>
       <origin rpy="0 0 0" xyz="-1.4 -0.5 1" />
       <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="BackLeg1">
        <inertial>
            <origin xyz="0 -0.5 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1 0.2" />
            </geometry>
        </collision>
    </link>
    <joint name="BackLeg1_BackLowerLeg1" type="revolute">
       <parent link="BackLeg1"/>
       <child  link="BackLowerLeg1"/>
       <origin rpy="0 0 0" xyz="0 -1 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="BackLowerLeg1">
        <inertial>
            <origin xyz="0 0 -0.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso1_FrontLeg2" type="revolute">
       <parent link="Torso1"/>
       <child  link="FrontLeg2"/>
       <origin rpy="0 0 0" xyz="-0.5 0.5 1" />
       <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="FrontLeg2">
        <inertial>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1 0.2" />
            </geometry>
        </collision>
    </link>
    <joint name="FrontLeg2_FrontLowerLeg2" type="revolute">
       <parent link="FrontLeg2"/>
       <child  link="FrontLowerLeg2"/>
       <origin rpy="0 0 0" xyz="0 1 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="FrontLowerLeg2">
        <inertial>
            <origin xyz="0 0 -0.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso1_BackLeg2" type="revolute">
       <parent link="Torso1"/>
       <child  link="BackLeg2"/>
       <origin rpy="0 0 0" xyz="-0.5 -0.5 1" />
       <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="BackLeg2">
        <inertial>
            <origin xyz="0 -0.5 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1 0.2" />
            </geometry>
        </collision>
    </link>
    <joint name="BackLeg2_BackLowerLeg2" type="revolute">
       <parent link="BackLeg2"/>
       <child  link="BackLowerLeg2"/>
       <origin rpy="0 0 0" xyz="0 -1 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="BackLowerLeg2">
        <inertial>
            <origin xyz="0 0 -0.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso1_FrontLeg3" type="revolute">
       <parent link="Torso1"/>
       <child  link="FrontLeg3"/>
       <origin rpy="0 0 0" xyz="0.5 0.5 1" />
       <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="FrontLeg3">
        <inertial>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1 0.2" />
            </geometry>
        </collision>
    </link>
    <joint name="FrontLeg3_FrontLowerLeg3" type="revolute">
       <parent link="FrontLeg3"/>
       <child  link="FrontLowerLeg3"/>
       <origin rpy="0 0 0" xyz="0 1 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="FrontLowerLeg3">
        <inertial>
            <origin xyz="0 0 -0.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso1_BackLeg3" type="revolute">
       <parent link="Torso1"/>
       <child  link="BackLeg3"/>
       <origin rpy="0 0 0" xyz="0.5 -0.5 1" />
       <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="BackLeg3">
        <inertial>
            <origin xyz="0 -0.5 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1 0.2" />
            </geometry>
        </collision>
    </link>
    <joint name="BackLeg3_BackLowerLeg3" type="revolute">
       <parent link="BackLeg3"/>
       <child  link="BackLowerLeg3"/>
       <origin rpy="0 0 0" xyz="0 -1 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="BackLowerLeg3">
        <inertial>
            <origin xyz="0 0 -0.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso1_FrontLeg4" type="revolute">
       <parent link="Torso1"/>
       <child  link="FrontLeg4"/>
       <origin rpy="0 0 0" xyz="1.4 0.5 1" />
       <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="FrontLeg4">
        <inertial>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1 0.2" />
            </geometry>
        </collision>
    </link>
    <joint name="FrontLeg4_FrontLowerLeg4" type="revolute">
       <parent link="FrontLeg4"/>
       <child  link="FrontLowerLeg4"/>
       <origin rpy="0 0 0" xyz="0 1 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="FrontLowerLeg4">
        <inertial>
            <origin xyz="0 0 -0.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso1_BackLeg4" type="revolute">
       <parent link="Torso1"/>
       <child  link="BackLeg4"/>
       <origin rpy="0 0 0" xyz="1.4 -0.5 1" />
       <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="BackLeg4">
        <inertial>
            <origin xyz="0 -0.5 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1 0.2" />
            </geometry>
        </collision>
    </link>
    <joint name="BackLeg4_BackLowerLeg4" type="revolute">
       <parent link="BackLeg4"/>
       <child  link="BackLowerLeg4"/>
       <origin rpy="0 0 0" xyz="0 -1 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="BackLowerLeg4">
        <inertial>
            <origin xyz="0 0 -0.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
        </collision>
    </link>
</robot>